* {
  box-sizing: border-box;
}

/* Zeroing out the margins and padding */
body {
  margin: 0;
  padding: 0;
  max-width: 960px;
  background-image: url("assets/images/cork-wallet.png") blue;
}

/* Formatting the Header Box */
header {
      position: relative;
      display: inline;
      background: white;
      padding-left: 50px;
}

header h1 {
      background: #4aaaa5;
      color: white;
      font-size: 3em;
      float: left;
}

nav {
      list-style: none;
      float: left;
      display: inline;
}

nav li {
	position: relative;
	display: inline-block;
	list-style-type: none;
}

hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
    }